{% extends "../_template.njk" %}

{% set title = "This is a header" %}

{% set small = "This is a footer" %}


{% block main %}
    <article>
        <h3>Lorem Ipsum</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, ex? Sit odio expedita deleniti dicta aut veniam labore aspernatur consequatur doloremque mollitia ex excepturi, obcaecati perferendis quos adipisci quae. Quia?</p>
    </article>
{% endblock %}